* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color:#1A1A1D;
    display: inline;
    color: #f2f2f2;
}

header {
    /* need to change background color to something better */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1A1A1D;
    color: #f2f2f2;
}

header h1 {
    font-size: 50px;
    display: inline-block;
    padding: 14px;
}

header nav {
    overflow: hidden;
    float: right;
}

header nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-right: 20px;
    margin-top: 16px;
    font-size: 20px;
    display: inline-block;
}

header nav a:hover {
    background-color: cadetblue;
    color: black;
}
/*need to figure out how to fit imagine in container*/
#hero {
    background-image: url("././images/line\ pattern.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    border-style: solid;
    border-color: black;
    padding: 4%;
}

main {
    /* display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom: 50px; */
    max-width: 900px;
    margin: 0 auto;
}

.about-me {
    margin-bottom: 30px;
}

section {
    display: flex;
}

section > h2 {
    min-width: 250px;
    text-align: end;
}

h2 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

h2::after {
    content: "|";
    margin-left: 10px; 
    position: relative;
}

p {
    font-size: 20px;
    padding-right: 25%;
    text-align: start;
}

/* button {
    width: 250px;
    margin: 0 .5%;
    font-size: 20px;
    color: #13293d;
    background-color: #fff;
    border: 3px solid #13293d;
    display: block;
} */

#one {
    width: 300px;
    font-size: 35px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    text-align: center;
    border: black solid;
    transition: 0.3s;
    margin: 25px;
    background-color: maroon;
    border-radius: 5px;
}

#one:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
    background-color: cadetblue;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    text-align: center;
    border: black solid;
    margin: 30px;
    width: 220px;
    background-color: maroon;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color:cadetblue;
}

/* button:hover {
    background-color: yellow;
    color:blue;
}

button:active {
    font-size: 20px;
    box-shadow: 10px #000 inset;
}

button:focus {
    outline: none;
    border-color: fuchsia;
} */

/* need to space these things out, add some color */
ul li {
    display: list-item;
    list-style-type: disc;
    padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
    body {
        width: 100%;
    }
}
